html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px; /* Increase this to make the scroll thumb rounder */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Grenette Pro SemiBold";
  src: url("/GrenettePro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  background: linear-gradient(to bottom, #f0f0f0 0%, #fafdf6 50%, #e4e3d3 100%);
  margin: 0;
  /* Remove default margin */
  overflow-x: hidden;
}

header {
  padding: 20px;
  margin-right: auto;
  text-align: left;
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  background-color: #e8e9eb;
  box-shadow:
    40px 3px 6px rgba(0, 0, 0, 0.16),
    40px 3px 6px rgba(0, 0, 0, 0.23);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

#symbols {
  position: fixed;
  overflow: hidden;
  left: -100%; /* Hidden initially off the left side of the screen */
  top: 101px;
  bottom: 0;
  margin: -13px;
  width: 66px;
  z-index: 2;
}

main::before {
  content: "";
  position: fixed;
  /* Changed to fixed */
  right: 10;
  left: -100%; /* Hide it initially off the left side of the screen */
  top: 0;
  bottom: 0;
  border-left: 40px solid #e8e9eb;
  background-image: url(/images/symbols.png);
  background-repeat: no-repeat;
  background-position: left center;
  /* Align the image to the left */
  /* Make sure it's on top */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Define the slide-in animation */
@keyframes slide-in {
  0% {
    left: -100%; /* Start from off screen */
  }
  100% {
    left: 0; /* End at the original position */
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.slide-out {
  animation: slide-out 1s forwards;
}

/* Apply the slide-in animation to main.slide-in:before */
main.slide-in:before {
  animation: slide-in 1s forwards;
}

.slide-in {
  animation: slide-in 1s forwards;
}

.symbols-slide-in {
  animation: slide-in 1s forwards;
}

body {
  background-color: #f0f0f0;
  font-family: "Grenette Pro SemiBold";
  color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #f0f0f0;
}

#logo {
  height: 65px;
  margin-right: 5px;
  position: relative;
  animation: move-logo 2.3s 0s forwards; /* Increase the total duration of the animation */
}

@keyframes move-logo {
  0%,
  50% {
    /* Center the logo at the start of the animation */
    left: -10%;
    transform: translateX(-50%) scale(7.5); /* Adjust the scale value as needed */
  }
  100% {
    /* Move the logo to its original position at the end of the animation */
    left: 0;
    transform: translateX(0) scale(1);
  }
}

h2 {
  text-align: center;
  font-size: 30px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

ul {
  padding: 50px 0;
}

ul li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: black;
  margin: 0 auto;
  padding-top: 50px;
}

ul li::after {
  background: black;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

ul li div {
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgba(42, 50, 113, 0.28);
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

.nav-button {
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px; /* Adjust as needed */
  color: white; /* Color of the icon */
}

.nav-button a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Makes the link color the same as the button text color */
}

#loading {
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;
  text-align: center;
  transition: bottom 0.5s ease-out;
}

.navbar {
  position: fixed;
  bottom: -200px; /* initially hidden */
  left: 0;
  right: 0;
  bottom: 0%;
  width: 100%;
  height: 16%;
  margin-bottom: 0;
  background-color: #f0f0f0;
  text-align: center;
  transition: bottom 0.5s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0000cd;
  width: 110px;
  height: 110px;
  animation: spin 7s linear infinite;
  position: absolute;
  left: 47.5%;
  transform: translate(-50%, -50%);
  transition: bottom 0.5s ease-out;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1800deg);
  }
}

header {
  position: relative;
  height: 100vh; /* Adjust this to your needs */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shrink 2s 1s forwards;
  overflow: hidden;
}

.stretchy-header,
.stretchy-header::before {
  position: absolute; /* Adjusted from relative to absolute */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/images/wallofhandwriting.png") repeat-x;
  background-size: auto 105%;
  animation:
    scroll-right 30s linear infinite,
    blur 3s 1s forwards;
  z-index: 1;
}

.stretchy-header::before {
  content: "";
  animation-delay: 0, 1.5s;
  z-index: 2;
}

h1,
.nav-button {
  opacity: 0;
  animation: fade-in 1s 1.5s forwards; /* Animation will start 1s after the page loads */
}

@keyframes scroll-right {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 125% 0;
  }
}

@keyframes blur {
  to {
    filter: blur(4px);
  }
}

@keyframes shrink {
  to {
    height: 450px;
  }
}

.stretchy-header h1 {
  transform: scale(1.1);
  color: #f0f0f0;
  opacity: 0;
  animation: fade-in 1s 2s forwards;
  z-index: 3; /* Raised from 1 to 3 */
}

.stretchy-header-content {
  display: flex;
  width: auto;
  height: 100px;
  white-space: nowrap;
  z-index: 4; /* Raised from 5 to 4 */
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
