@font-face {
  font-family: "Grenette Pro SemiBold";
  src: url("/GrenettePro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Lausanne&display=swap");

body {
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  /* Remove default margin */
  overflow-x: hidden;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  left: 0px;
  padding: 0.5rem;
  text-align: left;
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  background-color: #e8e9eb;
  box-shadow: 40px 3px 6px rgba(0, 0, 0, 0.16), 40px 3px 6px rgba(0, 0, 0, 0.23);
  /* Slight shadow on the left side only */
  position: sticky;
  /* Make it stick to the top */
  top: 0;
  z-index: 5;
  /* Ensure it stays on top */
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  overflow: hidden;
}

.container-fluid {
  top: 0;
  width: 110%;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  user-select: none;
  height: 0;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: 50px;
}

#logo {
  height: 4rem;
}

#symbols {
  position: fixed;
  left: -10px;
  top: 120px;
  bottom: 0;
  width: 66px;
  z-index: 3;
}

main {
  display: flex;
  justify-content: space-around;
  line-height: 1;
  position: relative;
  /* Added for the pseudo-element */
  padding-left: 50px;
}

main::before {
  content: "";
  position: fixed;
  /* Changed to fixed */
  right: 10;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 40px solid #e8e9eb;
  background-image: url(/static/images/symbols.png);
  background-repeat: no-repeat;
  background-position: left center;
  /* Align the image to the left */
  z-index: 1;
  /* Make sure it's on top */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

section {
  margin-bottom: 20px;
  font-family: "Grenne", monospace;
  /* Changed font */
}

#article-input {
  width: 600px;
  height: 600px;
  margin-top: 70px;
  overflow: visible;
  display: flex;
}

#article-input,
#demographic-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  transition: width 0.75s ease, height 0.75s ease, margin-top 0.75s ease;
}

#fixed-part {
  position: absolute;
  align-items: center;
  padding-top: -50px;
  margin-top: -10%;
  margin-bottom: 0;
  margin-left: -1%;
  margin-right: 0;
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  scale: 105%;
}

footer {
  padding: 20px;
  text-align: center;
  font-family: "Grenette Pro SemiBold", monospace;
}

#demographic-input {
  width: 30rem;
  margin-top: 1rem;
}

#submit-article {
  background-color: #00008b;
  color: #fafdf6;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

#add-demographic {
  background-color: #00008b;
  color: #fafdf6;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin-left: 2vh;
  height: 40px;
}

#submit-article:hover,
#add-demographic:hover {
  background-color: #0000cd;
  transform: scale(1.05); /* Add the transform to the hover state */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#article-input.loading {
  filter: blur(3px);
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.7);
  /* Semi-transparent white */
  backdrop-filter: blur(15px);
  /* Apply blur */
  border-radius: 5px;
  /* Optional: round the corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: add a subtle shadow */
  transition: all 0.2s ease-in-out;
  /* Add transition */
}

.loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0000cd;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-50%, -50%);
}

.pop-out {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  /* Add this line */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(810deg);
  }
}

.demographic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
}

#demographic-list-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 1vh;
  padding-bottom: -1vh;
  resize: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  display: inline-block;
}

#demographic-list {
  list-style-type: none;
  padding: 5px;
  flex-wrap: wrap;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
}

.demographic-item {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  white-space: nowrap;
}

.remove-demographic {
  margin-left: 10px;
  cursor: pointer;
  color: grey;
}

.remove-demographic:hover {
  color: black;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  max-width: 210px;
  background-color: white;
}

.ui-menu-item {
  border-radius: 4px;
}

.ui-menu-item:hover {
  background-color: #f0f0f0;
}

.ui-he #clear-all {
  display: none;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin-left: 2vh;
  text-align: center;
}

#clear-all.show {
  display: inline-block;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin-left: 2vh;
  text-align: center;
}

#clear-all:hover {
  background-color: #999898;
}

#demographic-input::placeholder {
  color: #808080;
}

#demographics {
  padding-top: 3.8rem;
  scroll-padding-left: 50px;
  width: 100px;
  user-select: none;
  justify-content: space-between; /* This will add space around items */
  align-items: center; /* This will center items vertically */
  margin-left: 70px;
}

#demographics h2 {
  margin-top: -2rem;
  margin-bottom: 0;
  margin-left: -9%;
  margin-right: 0;
  font-family: "Grenette Pro SemiBold", Arial, sans-serif;
  scale: 90%;
}

#input,
#responses {
  position: absolute; /* This makes the top property work */
  transition: all 0.75s ease;
  overflow: visible;
}

#article-input.minimized {
  width: 1%;
  /* Width when minimized */
  height: 10px;
  min-width: 0;
  /* Allow it to shrink further */
  min-height: 0;
  /* Allow it to shrink further */
  margin-top: 115%;
}

#responses {
  display: none;
  /* Initially hidden */
  overflow: visible;
}

#response-container {
  width: 800px;
  height: auto;
  margin-top: 7%;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Creates a grid with 3 columns */
  grid-gap: 15px;
  /* Space between grid items */
  padding: 0px;
  /* Padding around the grid */
  border: 0px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: visible;
}

.response-textarea {
  width: 250px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
  resize: none;
  /* Prevent resizing */
  overflow: visible;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s ease-in-out;
  /* Smooth transition */
}

.response-item {
  background-color: #f0f0f0;
  /* Background color for each response */
  padding: 20px;
  /* Padding inside each response */
  cursor: pointer;
  display: inline-flex;
  border-radius: 5px;
  overflow: scroll;
  /* Rounded corners */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  /* Shadow for each response */
}

textarea[hidden] {
  display: none;
}

.response-textarea:hover {
  transform: scale(1.05);
  /* Increase the size of the item */
  cursor: pointer;
  /* Change the cursor to a hand pointer */
  z-index: 1;
  /* Make it appear above other elements */
  overflow: visible;
}

.refresh-button {
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px; /* Adjust as needed */
  color: white; /* Color of the icon */
}

.refresh-button i {
  font-size: 20px; /* Adjust as needed */
}

.nav-button {
  background-color: transparent; /* remove background */
  border: none;
  padding: 0; /* remove padding */
  cursor: pointer;
  color: black; /* adjust as needed */
  position: absolute;
  right: 16rem;
  font-weight: bold; /* make the font bold */
  font-size: 20px;
  text-decoration: underline; /* underline the text */
  display: flex;
}

.nav-button a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Makes the link color the same as the button text color */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-origin: center;
}

.invisible {
  opacity: 0;
}
