<!DOCTYPE html>
<html>
  <head>
    <title>QuillAll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/about.css" />
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="icon" href="/static/images/favicon.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/azazdeaz/overscroll/dist/overscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <!-- Add Bootstrap JS and Popper.js just before closing body tag -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <style>
      #loading {
        position: fixed;
        bottom: -100px;
        left: 0;
        right: 0;
        text-align: center;
        transition: bottom 0.5s ease-out;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="stretchy-header masked"></div>
      <div class="stretchy-header-content">
        <h1>QuillAll</h1>
        <img src="/static/images/logo.png" alt="Logo" id="logo" />
      </div>
    </header>
    <main>
      <img src="/static/images/symbols.png" id="symbols" />

      <!-- New Box with the same format as the about-box -->
      <div class="head-box">
        <p>Waitlist:</p>
        <form id="emailForm" class="form-inline">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="emailInput"
              placeholder="Enter your email"
              required
            />
            <button type="submit" class="btn btn-primary ml-2">Submit</button>
          </div>
        </form>
      </div>

      <!-- Container for box1, box2, box3 -->
      <div class="box-container row">
        <div class="col-lg-4 col-12">
          <a href="/quillall" style="text-decoration: none; color: inherit">
            <div class="inner-box" id="box1">
              <p class="line1">QuillAll</p>
              <p class="line2">
                Crafting clear, targeted text that speaks directly to your
                audience.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-12">
          <div class="inner-box" id="box2">
            <p class="line1">Consulting</p>
            <p class="line2">
              Personalized advice for small and medium businesses to thrive with
              AI automation.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="inner-box" id="box3">
            <p class="line1">QuillConsult</p>
            <p class="line2">
              Unlock tailored business growth with our free GPT-powered
              consulting.
            </p>
          </div>
        </div>
      </div>
    </main>

    <div class="main-body">
      <h2>QuillAll Dev Timeline</h2>
      <div class="container-fluid">
        <!-- Row 1: Black - White -->
        <div class="row">
          <div
            class="col-lg-6 col-12"
            style="background-color: white; min-height: 500px"
          >
            <p class="left-text">
              <br /><br />Crafting clear, targeted text that speaks directly to
              your audience.<br /><br />
            </p>
          </div>
          <div
            class="col-lg-6 col-12"
            style="
              background-color: black;
              min-height: 500px;
              position: relative;
            "
          >
            <div class="highlight-box highlight-box1"></div>
          </div>
        </div>

        <!-- Row 2: White - Black -->
        <div class="row">
          <div
            class="col-lg-6 col-12"
            style="background-color: black; min-height: 500px"
          >
            <p class="left-text" style="color: white">
              <br /><br />Personalized advice for small and medium businesses to
              thrive with AI automation.<br />
            </p>
          </div>
          <div
            class="col-lg-6 col-12"
            style="
              background-color: white;
              min-height: 500px;
              position: relative;
            "
          >
            <div class="highlight-box highlight-box2"></div>
          </div>
        </div>

        <!-- Row 3: Black - White -->
        <div class="row">
          <div
            class="col-lg-6 col-12"
            style="background-color: white; min-height: 500px"
          >
            <p class="left-text">
              <br /><br />Unlock tailored business growth maps with our
              LLM-powered consulting.<br /><br />
            </p>
          </div>
          <div
            class="col-lg-6 col-12"
            style="
              background-color: black;
              min-height: 500px;
              position: relative;
            "
          >
            <div class="highlight-box highlight-box3"></div>
          </div>
        </div>

        <!-- Row 4: White - Black -->
        <div class="row">
          <div
            class="col-lg-6 col-12"
            style="background-color: black; height: 500px"
          ></div>
          <div
            class="col-lg-6 col-12"
            style="background-color: black; height: 500px"
          ></div>
        </div>
      </div>
    </div>
    <div class="navbar" class="hidden">
      <div id="loading" class="hidden">
        <div class="loader"></div>
      </div>
    </div>
    <script defer src="/static/js/about.js"></script>
  </body>
</html>
