<!doctype html>
<html>
  <head>
    <title>QuillAll</title>
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/azazdeaz/overscroll/dist/overscroll.min.js"></script>
    <style>
      #loading {
        position: fixed;
        bottom: -100px;
        left: 0;
        right: 0;
        text-align: center;
        transition: bottom 0.5s ease-out;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="stretchy-header"></div>
      <div class="stretchy-header-content">
        <h1>QuillAll</h1>
        <img src="/images/logo.png" alt="Logo" id="logo" />
        <button class="nav-button">
          <a href="/templates/QuillAll.html">Home</a>
        </button>
      </div>
    </header>
    <main>
      <img src="/images/symbols.png" id="symbols" />
    </main>
    <div class="about-box">
    <p>All that could be written, will be written.</p>
    </div>
    <div class="main-body">
      <h2>Project Timeline</h2>
      <div>
        <ul>
          <li>
            <div>
              <time>April 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>May 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>June 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>July 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>Soon: August 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>Soon: September 2023</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
          <li>
            <div>
              <time>1970</time>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="navbar" class="hidden">
        <div id="loading" class="hidden">
          <div class="loader"></div>
        </div>
      </div>
    <script defer src="/js/about.js"></script>
  </body>
</html>
