<!DOCTYPE html>
<html>
  <head>
    <title>QuillAll</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <header>
      <h1>QuillAll</h1>
      <img src="/static/images/logo.png" alt="Logo" id="logo" />
      <button class="nav-button">
        <a href="/home">About</a>
      </button>
    </header>
    <main>
      <img src="/static/images/symbols.png" id="symbols" />
      <section id="demographics">
        <h2>Demographics</h2>
        <input
          list="demographics-list"
          type="text"
          id="demographic-input"
          placeholder="Enter a demographic"
        />
        <datalist id="demographics-list">
          <!-- Demographics options will be added here -->
        </datalist>
        <button id="add-demographic">Add</button>
        <button id="clear-all" class="fade">Clear All</button>

        <ul id="demographic-list">
          <!-- Demographics will be added here -->
        </ul>
      </section>
      <div id="container">
        <section id="input">
          <div id="fixed-part">
            <h2>Enter Your Article</h2>
          </div>
          <textarea id="article-input" rows="10" cols="50"></textarea>
          <div id="response-container" style="display: none"></div>
          <!-- This will replace the textarea -->
          <div class="loader" id="loader" style="display: none"></div>
          <div id="counter">0/4000</div>
          <button id="submit-article">Submit</button>
          <button id="refresh-page" class="refresh-button">
            <i class="fas fa-sync-alt"></i>
          </button>
        </section>
      </div>
    </main>
    <footer>
      <!-- Footer content goes here -->
    </footer>
    <script defer type="module" src="/static/js/app.js"></script>
  </body>
</html>
